


:root{
    --theme-color: #001233;
    --home-theme: #00cdfb;
    --theme-one: #f69165;
    --theme-two: #99754566;
    --primary-color: #231d70;
    --section-bg: #231d70;
    --section-bg-two: #fff9f5;
    --button-color: #1fb5ac;
    --secoundary-color: #636363;
    --paragraph-color: #707070;
    --secoundary-one: #2f16;
    --white-color: #fff;
    --black-color: #000000;
    --border-color: rgb(240, 240, 240);
    --ratting-color: #ffd247;
}