//animation Here
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin4{
    0%{
        transform: rotate(-0deg);
    }
    50%{
        transform: rotate(60deg);
    }
    100%{
        transform: rotate(0deg);
    }
  }
  @keyframes spin3{  
    0%{
        transform: rotate(0deg) scale(1.1);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg) scale(1.1);
    }
  }
  @keyframes pro{
    0%{
      transform: rotate(-0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
  }
//animation Here