/*========== Celebrate Section Start ==========*/
.celebrate__section{
    overflow: hidden;
    position: relative;
    .flowers__shape{
        position: absolute;
        bottom: -45px;
        right: -55px;
        z-index: 99;
        img{
            @include imgw;
        }
    }
    .left__shape{
        position: absolute;
        top: 0;
        left: 0;
        img{
            @include imgw;
        }
    }
    .celebrate__wrapper{
        position: relative;
        .border__shape{
            position: absolute;
            top: 30px;
            left: 15px;
            right: 0px;
            bottom: 0;
            img{
                @include imgw;
            }
        }
    }
    .celebrate__items{
        .celebrate__thumb{
            img{
                @include imgw;
            }
        }
    }
    .celebrate__content{
        position: relative;
        h3{
            font-family: 'Crimson Text', serif;
            text-transform: uppercase;
            font-weight: 500;
        }
        .celebrate__tittle{
            font-family: 'Blacksword', sans-serif;
            font-size: 66px;
            margin: 20px 0;
            font-weight: 500;
        }
        .sub__tittle{
            font-family: 'Crimson Text', serif;
            margin-top: 0;
            font-weight: 400;
            text-transform: capitalize;
        }
        ul{
            justify-content: center;
            li{
                color: var(--theme-color);
                font-size: 50px;
                margin-right: 50px;
            }
        }
        .last__text{
            margin-top: 15px;
            h3{
                text-transform: capitalize;
                margin-top: 0;
                margin-bottom: 0;
            }
            p{
                font-weight: 500;
                font-size: 18px;
                color: var(--theme-color);
            }
        }
    }
}
/*========== Celebrate Section End ==========*/

/*========== Love Section Start ==========*/
.love__section{
    overflow: hidden;
    background: url(../img/love/love-bg.jpg) no-repeat center center;
    background-size: cover;
    .love__items{
        background-color: rgba(44, 51, 64,);
        .love__thumb{
            position: relative;
            max-width: 510px;
            margin: 0 auto;
            padding: 60px 0;
            img{
                @include imgw;
            }
            .love__wrapper{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .love__content{
                    text-align: center;
                    margin: 0 auto;
                    max-width: 310px;
                    h3{
                        color: var(--white-color);
                        font-family: 'Crimson Text', serif;
                    }
                    p{
                        color: var(--white-color);
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .right__thumb{
        img{
            @include imgw;
        }
    }
}
/*========== Love Section End ==========*/

/*========== Testimonial Section Start ==========*/
.testimonial__section{
    overflow: hidden;
    padding-top: 250px;
    position: relative;
    padding-bottom: 150px;
    .left__shape{
        position: absolute;
        top: -300px;
        left: -80px;
        img{
            @include imgw;
        }
    }
    .right__shape{
        position: absolute;
        bottom: -220px;
        right: -50px;
        img{
            @include imgw;
        }
    }
    .testi__items{
        position: relative;
        padding: 25px 15px;
        &::before{
            position: absolute;
            top: 25px;
            left: 0px;
            border: 3px solid var(--border-color);
            content: "";
            width: 100%;
            height: 100%;
            display: inline-block;
            transform: skew(3deg);
        }
        &::after{
            position: absolute;
            top: 15px;
            left: 0;
            border: 3px solid var(--border-color);
            content: "";
            width: 100%;
            height: 100%;
        }
        .testi__thumb{
            position: absolute;
            top: 15px;
            left: 50%;
            content: "";
            z-index: 1;
            transform: translate(-50%, -50%);
        }
       .testi__content{
        max-width: 410px;
        margin: 0 auto;
        text-align: center;
        padding-top: 135px;
            h3{
                text-transform: capitalize;
                font-family: 'Crimson Text', serif;
                margin-bottom: 0;
            }
            p{
                text-transform: uppercase;
                font-weight: 600;
                color: var(--theme-color);
            }
       }
    }
}
/*========== Testimonial Section End ==========*/

/*========== Member Section Start ==========*/
.member__section{
    background: url(../img/member/bg.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    .member__thumb{
        img{
            @include imgw;
        }
    }
    .owl-dots {
		position: absolute;
		bottom: -80px;
		left: 50%;
		transform: translate(-50%, -50%);
		.owl-dot {
			span {
				background-color: var(--theme-color);
				width: 13px;
				height: 13px;
				border-radius: 100%;
			}
			&.active {
				span {
					background: var(--theme-color);
				}
			}
		}
	}
}
.member__wedding__section{
    overflow: hidden;
    position: relative;
    .left__shape{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        display: none;
    }
    .shape__one{
        position: absolute;
        bottom: -200px;
        left: 0;
        max-width: 650px;
        img{
            @include imgw;
        }
    }
}
.wedding__section{
    position: relative;
    .shape__two{
        position: absolute;
        top: -300px;
        right: -200px;
        z-index: -999;
        max-width: 650px;
        height: auto;
        img{
            @include imgw;
        }
    }
    .wedding__items{
        text-align: center;
        position: relative;
        transition: all 0.3s;
        .thumb{
            img{
                @include imgw;
            }
        }
        .content__cover{
            background-color: rgba(220, 189, 140, 0.8);
            width: 92%;
            height: 93%;
            padding: 20px 15px;
            text-align: center;
            position: absolute;
            overflow: hidden;
            display: flex;
            justify-content: center;
            top: 16px;
            left: 16px;
            opacity: 0;
            visibility: hidden;
            align-items: center;
            transition: 0.6s;
            transform: scale(0);
            .wedding__content{
                h3{
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-bottom: 15px;
                }
                .date{
                    margin-bottom: 30px;
                    h6{
                        font-weight: 700;
                    }
                }
                .date__two{
                    margin-bottom: 50px;
                    h6{
                        font-weight: 700;
                    }
                }
                .wedding__button{
                    margin-top: 20px;
                    .cmn--btn{
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                }
            }
        }
        &:hover{
            .content__cover{
                opacity: 1;
                visibility: visible;
                transform: scale(1);
                cursor: pointer;
            }
        }
    }
    .active__items{
        .content__cover{
            opacity: initial;
            visibility: initial;
            transition: initial;
            transform: initial;
        }
    }
}
/*========== Member Section End ==========*/

/*========== Gallery Section Start ==========*/
.gallery__section{
    overflow: hidden;
    position: relative;
    .section__header{
        position: relative;
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(220, 189, 140, 0.4);
    }
    .left__shape{
        position: absolute;
        top: -300px;
        left: -80px;
        z-index: -99;
        img{
            @include imgw;
        }
    }
    .gallery__thumb{
        position: relative;
        z-index: 999;
        img{
            @include imgw;
            border-radius: 10px;
        }
    }
}
/*========== Gallery Section End ==========*/

/*========== Attending Section Start ==========*/
.attending__section{
    overflow: hidden;
    background: url(../img/attending/bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(220, 189, 140, 0.4);
    }
    .attending__items{
        position: relative;
    }
}
/*========== Attending Section End ==========*/

/*========== Love Section Start ==========*/
.love__story__section{
    overflow: hidden;
    position: relative;
    .left__shape{
        position: absolute;
        top: -300px;
        left: -80px;
        z-index: -99;
        img{
            @include imgw;
        }
    }
    .right__shape{
        position: absolute;
        bottom: -220px;
        right: -50px;
        z-index: -99;
        img{
            @include imgw;
        }
    }
    .love__story__content{
        h2{
            text-transform: capitalize;
            font-family: 'Blacksword', sans-serif;
            font-size: 48px;
            margin-bottom: 20px;
        }
        span{
            font-size: 20px;
            color: var(--theme-color);
            font-family: 'Crimson Text', serif;
        }
        p{
            margin-top: 20px;
        }
    }
    .love__story__thumb{
       img{
        @include imgw;
        border-radius: 10px;
       }
    }
}
/*========== Love Section End ==========*/

/*========== Contact Info Section Start ==========*/
.contact__info{
    overflow: hidden;
    background-color: #fbf8f8;
    .info__items{
        background-color: var(--white-color);
        padding: 50px 30px;
        .info__icon{
            width: 75px;
            height: 75px;
            line-height: 80px;
            border-radius: 100%;
            box-shadow: 0px 4px 24px 0px rgba(106, 105, 194, 0.15);
            text-align: center;
            margin: 0 auto;
            i{
                font-size: 28px;
                color: var(--theme-color);
            }
        }
        h4{
            text-transform: capitalize;
            margin-bottom: 0;
            margin-top: 20px;
            font-weight: 600;
        }
    }
}
/*========== Contact Info Section End ==========*/

/*=============== Contact Page Here ===============*/
.contact__section{
    overflow: hidden;
}
.contact__right{
    .form__clt{
     input{
         width: 100%;
         outline: none;
         border-radius: 5px;
         border: none;
         padding: 14px 15px;
         border: 2px solid #ebebeb;
     }
  }
  .form__clt__big{
     textarea{
         padding: 14px 15px 130px;
         width: 100%;
         outline: none;
         border-radius: 5px;
         border: none;
         border: 2px solid #ebebeb;
     }
   }
     .cmn--btn {
         width: 100%;
         border: none;
     }
}
/*=============== Contact Page End ===============*/

/*========== Map Section Start ==========*/
.map__section{
    overflow: hidden;
    .googpemap{
        iframe{
            width: 100%;
            height: 650px;
        }
    }
}
/*========== Map Section End ==========*/


 